{% extends 'layout/base.html' %}
{% load static %}
{% block 'title' %} Derechos de Autor {% endblock 'title' %}

{% block 'content' %}
<!-- Header -->
<header class="bg-dark text-white p-3">
    <h1 class="font-weight-bold">Derechos Reservados</h1>
</header>

<!-- Main Content -->
<main class="container mt-4">
    <section class="mb-4">
        <h2 class="font-weight-bold">Ley de Derecho de Autor y Derechos Conexos</h2>
        <p>Decreto 33-98 del Congreso de la República de Guatemala, artículo 4 y Ley de Derecho de Autor, artículo 44.</p>
    </section>

    <section class="mb-4">
        <h2 class="font-weight-bold">Audita</h2>
        <p>Automatización de Auditoría y Análisis de datos</p>
        <p>Plantillas desarrolladas el autor en base a las Normas Internacionales de Auditoría y experiencia</p>
        <p>Autor: Lic. Victor Antonio Ambrosio Juárez</p>
    </section>

    <section class="mb-4">
        <h2 class="font-weight-bold">Marca registrada</h2>
        <p>© 2023. Todos los derechos reservados del Sistema de Auditoria</p>
    </section>
</main>

<!-- Footer -->
<footer class="bg-light p-3">
    <!-- Puedes añadir contenido al pie de página si lo deseas -->
</footer>

{% endblock 'content' %}