{% extends 'layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block 'content' %}

<!-- Formulario -->
<div class="row text-center">
    <div class="col">
        <br>
        <h1>Automatización de Cédulas</h1>
        <br>
    </div>
</div>
<!-- Instrucciones -->
<div class="alert alert-info">
    <h4 class="alert-heading">Instrucciones:</h4>
    <ol>
        <li>Completa los campos correspondientes para que la información, que incluye el nombre completo de la entidad, el período de auditoría y el tipo de auditoría, se genere automáticamente en cada Cédula de Auditoría, se copie y pegue de forma automática en las cédulas correspondientes.</li>
        <li>Incorpora la información del Balance General, Estado de Resultados u otro estado, como la Cuenta Contable y la Cantidad, para que se registren automáticamente en las cédulas centralizadoras y sumarias, ahorrándote tiempo.</li>
        <li>Los espacios que se reflejan en el Balance General y Estado de Resultados sirven para agregar más cuentas contables, según su auditoría.</li>
    </ol>
</div>
<div class="row pt-5">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header">
                <h2>Datos de Auditoría</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {{ file_form|crispy }}
                    <div>
                        <button type="submit" class="btn btn-primary btn-block w-100">Enviar</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

<!-- iframe para incrustar Google Sheets -->
<div class="container mt-4">
    <iframe src="https://docs.google.com/spreadsheets/d/1Y8LhCPAcydHkCPBOVgB4pBVrDWFhzavRN1XJhEDa3YA/edit?usp=sharing" width="100%" height="800" frameborder="0"></iframe>
</div>

{% endblock 'content' %}
