{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block 'content' %}

<div class="row text-center ">
    <div class="col">
        <br>
        <h1>Notificaciones</h1>
        <p class="fst-italic">Centro de notificaciones del sistema</p>
        <br>
    </div>
</div>
<div class="row">
    <div class="col-md-6 p-5">
        <div class="card">
            <form method ="POST" class="form-control">
                {% csrf_token %}
                <div class="row g-5 p-5">
                    <div class="form-group">
                        {{ form|crispy }}
                        <div class="row">
                            <button type="submit" class="btn btn-primary btn-block">Guardar</button>
                        </div>
                    </div>
                    <br>   
                </div>
            </form>

            {% if 'ok' in request.GET %}
                <div class="alert alert-success mt-5" role="alert">
                    <strong>la Notificación se creo correctamente</strong>
                </div>
            {% endif %}

            {% if 'error' in request.GET %}
                <div class="alert alert-danger mt-5" role="alert">
                    <strong>la Notificación no pudo crearse. Por favor, intente más tarde</strong>
                </div>
            {% endif %}

        </div>

    </div>
    <div class="col-md-6 p-5">
        <img
            src="{% static 'img/audita-notificacion.png' %}"
            alt="Placeholder Image"
            class="img-fluid"
            />
    </div>
</div>

{% endblock 'content' %}