{% extends 'layout/base.html' %}

{% block 'content' %}
<div class="row p-4">
    <h2 class="text-center">Resumen de tiempo Auditoría</h2>
    <p>
        <b>Instrucción:</b> Debes hacer Clic para abrir en el nombre del archivo, 
        para que puedas visualizar y trabajar la plantilla hacerle cambios, guardar, 
        descargar en Excel o PDF, enviar el archivo por correo y hacer videollamadas. 
    </p>
    <div class="col-2">
        <h4>
            Archivo
        </h4>
        {% comment %} <a href="" id="loadButton">File: cronogramadeactividades.xls</a> {% endcomment %}
        <button class="loadButton btn btn-primary m-2" style="width: 100%;" data-url="{{resumen_tiempo_url}}">resumendeltiempo.xls</button>
        <button class="loadButton btn btn-primary m-2" style="width: 100%;" data-url="{{resumen_horas_url}}">resumenhorastrabajadas.xls</button>
        <button class="loadButton btn btn-primary m-2" style="width: 100%;" data-url="{{estado_papeles_url}}">estadodepapelesdetrabajo.xls</button>
    </div>
    <div class="col" id="spreadsheetContainer">
        
    </div>
</div>

<script>
    var buttons = document.getElementsByClassName('loadButton');
    for (var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function(){
            var iframe = document.createElement('iframe');
            iframe.src = this.getAttribute('data-url');
            iframe.width = "100%";
            iframe.height = "800";
            var container = document.getElementById('spreadsheetContainer');
            // Limpiar el contenedor antes de agregar el nuevo iframe
            while (container.firstChild) {
                container.removeChild(container.firstChild);
            }
            container.appendChild(iframe);
        });
    }
</script>
{% endblock 'content' %}