{% extends 'layout/base.html' %}
{% load static %}
{% block 'content' %}

<div class="row p-4">
    <h2 class="text-center">Ratios Financieros</h2>
    <p class="text-center">
        Un ratio es una división entre ellas. El objetivo de los ratios es poder medir y comparar indicadores 
con mayor facilidad y objetividad, permitiéndonos así tomar las medidas adecuadas en la entidad.
    </p>
    <br>
    <br>
    <p>
        <b>Instrucción:</b> Ingrese al archivo haciendo clic en Ratios Financieros del lado izquierdo, y le aparece el archivo y luego cambie las cuentas y cantidades en los 2 años
        y obtenga los ratios financieros que se generan automáticamente y haga su análisis.  También puede cambiar los 2 años actualizando ejemplo año 2022 para 2023. 
    </p>
    <div class="col-2">
        
        {% comment %} <a href="" id="loadButton">File: cronogramadeactividades.xls</a> {% endcomment %}
        <table class="table-secondary">
            <thead>
                <th><H3>Papel de trabajo</H3></th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <button class="loadButton btn btn-primary m-2 font-papel" style="width: 100%;" data-url="{{ratio_financiero_url}}">Ratios Financieros</button>
                    </td>
                </tr>
                
            </tbody>
        </table>
        
        
        
        
    </div>
    <div class="col" id="spreadsheetContainer">
        <iframe sandbox="allow-scripts allow-same-origin allow-popups allow-forms allow-modals allow-orientation-lock allow-pointer-lock allow-popups-to-escape-sandbox allow-presentation allow-top-navigation" src="" width="100%" height="1024"></iframe>

        <a id="directLink" href="" target="_blank">Abrir en nueva pestaña</a>

    </div>
</div>

<script>
    var buttons = document.getElementsByClassName('loadButton');
    var iframe = document.querySelector('#spreadsheetContainer iframe');

    var directLink = document.getElementById('directLink');

    for (var i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener('click', function(){
            var url = this.getAttribute('data-url');
            iframe.src = url;
            directLink.href = url;
        });
    }
</script>

{% endblock 'content' %}