{% extends 'layout/base.html' %}

{% block 'content' %}

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Iniciar sesión</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.contrasena.label_tag }}
                {{ form.contrasena }}
                
                <button type="submit" class="btn btn-primary">Iniciar sesión</button>
            </form>
        </div>
    </div>

{% endblock 'content' %}