{% extends 'layout/base.html' %}
{% load static %}
{% block 'title' %} Inicio {% endblock 'title' %}

{% block 'content' %}

    <div class="row p-5 m-5">
        <div class="col-4">
        </div>
        <div class="col-4">
            <img src="{% static 'img/logo-vertical.png' %}" class="mx-auto d-block" width="300" alt="">
            <h4 class="text-center">BIENVENIDO {{user.username|upper}}</h4>
        </div>
        <div class="col-4">
        </div>
    </div>
    



{% endblock 'content' %}
