{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block 'content' %}
<div class="row text-center">
    <div class="col">
        <br>
        <h1>Estado de Resultados o Balance General</h1>
        <p class="fst-italic">En esta área se debe cargar el Estado de resultados para su analisis Vertical</p>
    </div>
</div>

<div class="row pt-5">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header">
                <h2>Estado de resultados o Balance General</h2>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data" class="mb-4">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="archivo_anterior" class="form-label">Cargar Estado de resultados o Balance General anterior:</label>
                        <input type="file" class="form-control" name="archivo_anterior" required>
                    </div>
                    <div class="mb-3">
                        <label for="archivo_actual" class="form-label">Cargar Estado de resultados o Balance General actual:</label>
                        <input type="file" class="form-control" name="archivo_actual" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Subir y analizar</button>
                </form>
                
            </div>
            <div class="card-footer">
                {% if output_file   %}
                    <a href="{{ output_file.url }}" download class="btn btn-success">Descargar archivo de analisis</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock 'content' %}