{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block 'content' %}
<div class="row h-100 align-items-center">
    <div class="col-6">
        <img
            src="{% static 'img/singnup.png' %}"
            alt="Placeholder Image"
            class="img-fluid"
            />
    </div>
    <div class="col-4">
        <div class="">
            
            <img src="{% static 'img/logo-vertical.png' %}" class="mx-auto d-block" width="175" alt="">
            <br>
        </div>
        <div>
            <h1>Cambiar Contraseña</h1>
            <p class="fw-semibold">Ingrese la nueva contraseña en los campos solicitados.</p>
            <br>
        </div>

        <form method ="POST">

            {% csrf_token %}
            {{ form|crispy }}
            
            <br>
            <div class="row">
                <button type="submit" class="btn btn-primary btn-block">Guardar</button>
            </div>
        </form>

    </div>
</div>

  
{% endblock 'content' %}
